.image {
    padding: 0px;
    height: 100vh;
    background-image: url('../images/HERO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    height: 20vh;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bleu {
    color: #53EDF5;
}

ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.navbar ul a:hover {
    color: white;
    border: 2px #53EDF5 solid;
}

.title1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    background-color: #0000005e;
}

.servicesBackground {
    background-color: #00d0ff;
}

.container {
    padding: 50px;
    color: white;
}

.titre {
    margin-bottom: 50px;
}
.row {
    margin-top: 30px;
}

.separation {
    height: 3px;
    background-color: white;
    width: 4%;
}

.title {
    height: 75px;
}

.portfolioBackground {
    color: black;
}